<footer class="footer-03" style="margin-top: 70px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Cuisnes</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Indian</a></li>
              <li><a href="#" class="py-1 d-block">Italian </a></li>
              <li><a href="#" class="py-1 d-block">Chinese </a></li>
              <li><a href="#" class="py-1 d-block">Mexican </a></li>
              <li><a href="#" class="py-1 d-block">Japanese </a></li>
              <li><a href="#" class="py-1 d-block">French </a></li>
              <li><a href="#" class="py-1 d-block">Thai </a></li>
              <li><a href="#" class="py-1 d-block">Greek </a></li>
              <li><a href="#" class="py-1 d-block">Spanish </a></li>
              <li><a href="#" class="py-1 d-block">Middle Eastern    </a></li>
            </ul>
          </div>
          <!-- <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Starter</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Dresses</a></li>
              <li><a href="#" class="py-1 d-block">Jumpsuits</a></li>
              <li><a href="#" class="py-1 d-block">Shirts</a></li>
              <li><a href="#" class="py-1 d-block">T-shirts</a></li>
              <li><a href="#" class="py-1 d-block">Swearshirts</a></li>
              <li><a href="#" class="py-1 d-block">Jackets</a></li>
              <li><a href="#" class="py-1 d-block">Coats</a></li>
            </ul>
          </div> -->
          <div class="col-md-6 mb-md-0 mb-4">
            <h2 class="footer-heading">Blogs</h2>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="py-1 d-block"
                  >10 Easy and Healthy Recipes for Busy Weeknights</a
                >
              </li>
              <li>
                <a href="#" class="py-1 d-block"
                  >Exploring the World of Vegetarian Cooking: A Beginner's
                  Guide</a
                >
              </li>
              <li>
                <a href="#" class="py-1 d-block"
                  >5 Creative Ways to Use Leftover Ingredients in Your
                  Recipes</a
                >
              </li>
              <li>
                <a href="#" class="py-1 d-block"
                  >How to Meal Prep Like a Pro: Tips and Tricks for Planning
                  Ahead</a
                >
              </li>
              <li><a href="#" class="py-1 d-block">Sweatshirts</a></li>
              <li>
                <a href="#" class="py-1 d-block"
                  >A Culinary Journey through Regional Cuisine: Exploring the
                  Flavors of India</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="footer-heading">Follow Us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Twitter"
                  ><span class="ion-logo-twitter"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Facebook"
                  ><span class="ion-logo-facebook"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Instagram"
                  ><span class="ion-logo-instagram"></span
                ></a>
              </li>
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Linkedin"
                  ><span class="ion-logo-linkedin"></span
                ></a>
              </li>
            </ul>
            <h2 class="footer-heading mt-5">Subscribe Us</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input
                  type="text"
                  class="form-control rounded-left"
                  placeholder="Enter email address"
                />
                <input
                  type="submit"
                  value="Subscribe"
                  class="form-control submit px-3 rounded-right"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8">
        <p class="copyright">
          Copyright ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          2023 All rights reserved | This template is made with
          <i class="ion-ios-heart" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">cookhat.co</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" href="#">Terms &amp; Conditions</a>
          <a class="mr-md-3" href="#">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
