.footer-03 {
  background: #ff7f50d6;
  font-size: 14px;
}
.footer-03 .footer-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 30px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.footer-03 .list-unstyled li a {
  color: rgba(0, 0, 0, 0.3);
}
.footer-03 .footer-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 30px;
}
footer {
  padding: 4em 0;
}
.footer-03 .subscribe-form .form-group input {
  background: rgba(0, 0, 0, 0.05) !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 16px;
  border-radius: 0;
}
.footer-03 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 130px;
  height: 52px;
  font-size: 16px;
  background: #f17e7e !important;
  border: none;
  border-radius: 0;
}
.footer-03 .ftco-footer-social li a {
  color: #f17e7e;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.footer-03 .copyright {
  color: rgba(0, 0, 0, 0.4);
}
.footer-03 a {
  color: #f17e7e;
}

@media (min-width: 768px) {
  .text-md-right {
    text-align: right !important;
  }
}
a {
  text-decoration: none !important;
  background-color: transparent;
}
@media (min-width: 768px) {
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important;
  }
}
