<footer class="footer-03" style="margin-top: 70px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading color-2">Cuisnes</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Indian</a></li>
              <li><a href="#" class="py-1 d-block">Italian </a></li>
              <li><a href="#" class="py-1 d-block">Chinese </a></li>
              <li><a href="#" class="py-1 d-block">Mexican </a></li>
              <!-- <li><a href="#" class="py-1 d-block">Japanese </a></li>
              <li><a href="#" class="py-1 d-block">French </a></li>
              <li><a href="#" class="py-1 d-block">Thai </a></li>
              <li><a href="#" class="py-1 d-block">Greek </a></li>
              <li><a href="#" class="py-1 d-block">Spanish </a></li>
              <li><a href="#" class="py-1 d-block">Middle Eastern </a></li> -->
            </ul>
          </div>
          <!-- <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Starter</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Dresses</a></li>
              <li><a href="#" class="py-1 d-block">Jumpsuits</a></li>
              <li><a href="#" class="py-1 d-block">Shirts</a></li>
              <li><a href="#" class="py-1 d-block">T-shirts</a></li>
              <li><a href="#" class="py-1 d-block">Swearshirts</a></li>
              <li><a href="#" class="py-1 d-block">Jackets</a></li>
              <li><a href="#" class="py-1 d-block">Coats</a></li>
            </ul>
          </div> -->
          <div class="col-md-6 mb-md-0 mb-4">
            <h2 class="color-2 footer-heading">Blogs</h2>
            <ul class="list-unstyled">
              <li *ngFor="let list of blogList">
                <a (click)="gottoblog(list.blogid)" class="py-1 d-block">{{
                  list.blogtitle
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="color-2 footer-heading">Follow Us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate">
                <a
                  (click)="socialmedianav('twitter')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Twitter"
                  ><img
                    src="assets/img/icons/twitter.svg"
                    alt="share"
                    class="img-responsive positioncenter"
                /></a>
              </li>
              <li class="ftco-animate">
                <a
                  data-toggle="tooltip"
                  (click)="socialmedianav('facebook')"
                  data-placement="top"
                  title=""
                  data-original-title="Facebook"
                  ><img
                    src="assets/img/icons/facebook.svg"
                    alt="share"
                    class="img-responsive positioncenter"
                /></a>
              </li>
              <li class="ftco-animate">
                <a
                  (click)="socialmedianav('instagram')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Davaras Instagram App"
                  data-original-title="Instagram"
                  ><img
                    src="assets/img/icons/instagram.svg"
                    alt="share"
                    class="img-responsive positioncenter"
                /></a>
              </li>
              <li class="ftco-animate">
                <a
                  (click)="socialmedianav('pinterest')"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  data-original-title="Pinterest"
                  ><img
                    src="assets/img/icons/pinterest.svg"
                    alt="share"
                    class="img-responsive positioncenter"
                /></a>
              </li>
            </ul>
            <h2 class="footer-heading mt-5 color-2">Subscribe Us</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input
                  type="text"
                  class="form-control rounded-left"
                  placeholder="Enter email address"
                />
                <input
                  type="submit"
                  value="Subscribe"
                  class="form-control submit px-3 rounded-right"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8">
        <p class="copyright">
          Copyright ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          2023 All rights reserved
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" class="color-2" href="#">Terms &amp; Conditions</a>
          <a class="mr-md-3" class="color-2" href="#">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
