.infimg {
  max-width: 25%;
  max-height: 15%;
  float: left;
}

.inftext {
  float: left;
  padding-left: 10px;
}
.container2 {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
