<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-md-9">
      <div class="card-body">
        <div class="container2">
          <div class="infimg">
            <img
              src="assets/img/chef/{{ recipe.chefimgurl }}"
              alt=""
              class="img-responsive"
              style="width: 60px; height: 60px; border-radius: 50%"
            />
          </div>
          <div class="inftext">
            <span
              style="display: block; font-size: 20px"
              (click)="gotochefpage(recipe.chefid)"
            >
              {{ recipe.chefname }}
              <!-- <input type="button" class="btn btn-warning" value="Follow" /> -->
            </span>
            <span style="display: block; font-size: 12px">
              {{ recipe.totalrecipes }} recipes
            </span>
          </div>
        </div>
        <div class="videosection row flex video_responsive" style="">
          <iframe
            width="560"
            height="475"
            [src]="sanitizeYoutubeURL | safe : 'resourceUrl'"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="bd-highlight col-sm-12 col-lg-8">
            <h5>
              {{ recipe.recipename }}
            </h5>
          </div>
          <div class="col-sm-12 col-lg-4 titleicons_responsive">
            <span style="margin-right: 20px">
              <i class="bi bi-share gray icon_responsive"></i>
              Share
            </span>
            <span style="margin-right: 20px">
              <i class="bi bi-hand-thumbs-up gray icon_responsive"></i>
              Like
            </span>
            <span style="margin-right: 10px">
              <i class="bi bi-emoji-heart-eyes gray icon_responsive"></i
            ></span>
            <span class="gray">45.2 k</span>
            <!-- <share-buttons theme="modern-light" show="11"></share-buttons> -->
          </div>
        </div>
        <div class="d-flex bd-highlight" style="margin-top: 15px">
          <span class="gray">Cooking Time: </span>
          <span class="gray" style="margin-left: 5px">{{
            recipe.recipetime
          }}</span>
          <span class="gray" style="margin-left: 20px">Cooking type:</span>
          <span class="gray" style="margin-left: 5px">
            {{ recipe.recipecuisine }}</span
          >
        </div>
        <hr class="mt-2" />
        <div style="margin-top: 20px">
          <div style="margin-bottom: 30px">
            <h5 class="dimgray">Ingredient List</h5>
          </div>
          <div class="row row-cols-2">
            <div class="col" *ngFor="let list of recipe?.recipeingredients">
              <div class="container2" style="margin-top: 20px">
                <!-- <div class="infimg">
                  <img
                    src="assets/img/ingredient/{{ list?.ingredientImage }}"
                    alt=""
                    class="img-responsive"
                    style="width: 50px; height: 50px; border-radius: 50%"
                  />
                </div> -->
                <div class="inftext">
                  <span style="display: block; font-size: 16px">{{
                    list?.ingredientName
                  }}</span>
                  <span style="display: block; font-size: 12px">{{
                    list?.ingredientQuantity
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 listofsteps_responsive">
      <div>
        <h4 class="dimgray">List of Steps</h4>
        <div
          *ngFor="let list of recipe?.recipesteps; let i = index"
          style="margin-bottom: 30px"
        >
          <span style="display: block" class="gray">Step {{ i + 1 }}</span>
          <span style="display: block">{{ list.steps }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row flex-nowrap p-2" style="margin-top: 30px">
    <h4>Similar Recipe</h4>
    <div class="row">
      <div class="col-lg-3 col-md-4" *ngFor="let list of recipeSimilarList">
        <app-recipe-card [recipe]="list"></app-recipe-card>
      </div>
    </div>
  </div>
</div>
