.icon {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

.colored {
  background-color: wheat; /* defines the background color of the image */
  mask: url(../../../assets/img/icons/i-search.svg) no-repeat center / contain;
  -webkit-mask: url(../../../assets/img/icons/i-search.svg) no-repeat center /
    contain;
}
.nav-span {
  color: coral;
  /* color: whitesmoke; */
  padding-left: 5px;
  padding-right: 10px;
}

.nav-item:nth-child(n + 2):hover {
  background-color: white;
  border-radius: 20px;
}

.nav-item:hover .nav-span {
  color: #ff7f50;
}
.nav-item:hover .colored {
  background-color: coral; /* defines the background color of the image */
}
.nav-item {
  margin-left: 10px;
}

.companyname {
  color: coral ;
  font-size: 32px;
  padding-left: 20px;
}
.ralative {
  top: 8px;
  position: relative;
}

.dav-nav-col {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .dav-nav-col {
    background-color: coral !important;
    z-index: 5;
  }
  .nav-span {
    color: white;
    /* color: whitesmoke; */
    padding-left: 5px;
    padding-right: 10px;
  }
  .companyname {
    color: white;
    padding-right: 5px;
  }
}
