<nav
  class="navbar navbar-expand-sm navbar-light fixed-top"
  style="background-color: #ff7f50"
>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link active companyname"
          style="color: white; font-size: 25px"
          routerLink="/"
          >Davaras</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/search">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Recipe</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/searchchef">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Chef</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/blogs">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Blogs</span>
          </div>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/chef">Chef Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/recipe">Recipe Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/createrecipe">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li> -->
    </ul>
  </div>
</nav>
