<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Cookhat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Recipe</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/searchchef">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Chef</span>
          </div>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/chef">Chef Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/recipe">Recipe Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart Page</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/createrecipe">Create Recipe</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li> -->
    </ul>
  </div>
</nav>
