<nav
  class="navbar navbar-expand-lg navbar-light dav-nav-col"
  style="background-color: white"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/" class="navbar-brand active companyname">Davaras</a>
  <div class="navbar-collapse" id="navbarNavDropdown" *ngIf="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/search">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Recipe</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/searchchef">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Chef</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ralative" routerLink="/blogs">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Blogs</span>
          </div>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link ralative" routerLink="/createrecipe">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Create Recipe</span>
          </div>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link ralative" routerLink="/resturant">
          <div style="display: inline-flex">
            <div class="icon colored"></div>
            <span class="nav-span">Resturant</span>
          </div>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/recipe">Recipe Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart Page</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/createrecipe">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li> -->
    </ul>
  </div>
</nav>
