<div class="container">
  <div class="row">
    <div
      class="col-lg-3 filterBiggerScreen"
      style="background-color: #fbfbfb; padding: 20px 5px 5px 10px"
    >
      <div style="margin-bottom: 30px">
        <h5>Filters</h5>
      </div>
      <div style="margin-bottom: 25px">
        <div style="margin-bottom: 10px">
          <span style="margin-bottom: 15px; font-weight: 500">Cuisine</span>
        </div>
        <div *ngFor="let list of cuisinelist; let i = index">
          <input
            type="checkbox"
            value="list"
            (change)="onChange(list, $event.target)"
          />
          <label style="margin-left: 10px">{{ list }}</label>
        </div>
      </div>
      <!-- Selected: {{ categoryitem | json }}  -->

      <!-- Length: {{ lengthofingredientSearchList }} -->
      <div>
        <span
          *ngFor="let item of ingredientFilterArray"
          style="
            background-color: grey;
            border-radius: 10px;
            padding: 5px 10px;
            color: white;
          "
        >
          <span (click)="removingredientintosearch(item)">(-) </span>{{ item }}
        </span>
      </div>
      <div class="row">
        <div class="wrapper">
          <div class="search-input">
            <input
              type="text"
              placeholder="Search Ingredient"
              (keyup)="oningredientkeypress($event)"
              [(ngModel)]="TBsearchingredient"
            />
            <div
              class="autocom-box"
              [style.display]="
                lengthofingredientSearchList > 0 ? 'block' : 'none'
              "
            >
              <!-- <li
                *ngFor="
                  let item of ingredientSearchList
                    | autocompleteFilterPipe
                      : 'ingredientName'
                      : searchingredient
                "
              > -->
              <li *ngFor="let item of ingredientSearchList">
                {{ item.ingredientName }}
                <span
                  (click)="addingredientintosearch(item.ingredientName)"
                  style="
                    background-color: grey;
                    border-radius: 10px;
                    padding: 5px 10px;
                    color: white;
                  "
                  >add +
                </span>
              </li>
            </div>
            <div class="icon">
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div style="text-align: center; margin-bottom: 10px; color: coral">
        <h4>search more than 1000 recipe</h4>
      </div>
      <div class="row">
        <div class="wrapper">
          <div class="search-input">
            <input
              type="text"
              placeholder="Search Recipe"
              (keyup)="onkeypress($event)"
              [(ngModel)]="searchtext"
            />
            <div
              class="autocom-box"
              [style.display]="lengthofrecipeSearchList > 0 ? 'block' : 'none'"
            >
              <li
                *ngFor="
                  let item of recipeSearchList
                    | autocompleteFilterPipe : 'recipename' : searchtext
                "
              >
                {{ item.recipename }}
              </li>
            </div>
            <div class="icon">
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 MT10" *ngFor="let list of recipeList">
          <app-recipe-card [recipe]="list"></app-recipe-card>
        </div>
      </div>
    </div>

    <!-- OVERLAY EFFECT -->
    <div id="overlay" *ngIf="showFilterMobile">
      <div class="col-lg-12 filterMobileSideBar">
        <div style="margin-bottom: 30px; padding: 5px 10px">
          <span style="font-size: 20px">Filters</span>
          <i
            style="float: right; font-size: 20px"
            class="bi bi-x-circle"
            (click)="showFilterMobile = !showFilterMobile"
          ></i>
        </div>
        <div style="margin-bottom: 25px">
          <div style="margin-bottom: 10px">
            <span style="margin-bottom: 15px; font-weight: 500">Cuisine</span>
          </div>
          <div *ngFor="let list of cuisinelist; let i = index">
            <input
              type="checkbox"
              value="list"
              (change)="onChange(list, $event.target)"
            />
            <label style="margin-left: 10px">{{ list }}</label>
          </div>
        </div>
        <div>
          <span
            *ngFor="let item of ingredientFilterArray"
            style="
              background-color: grey;
              border-radius: 10px;
              padding: 5px 10px;
              color: white;
            "
          >
            <span (click)="removingredientintosearch(item)">(-) </span
            >{{ item }}
          </span>
        </div>
        <div class="row">
          <div class="wrapper">
            <div class="search-input">
              <input
                type="text"
                placeholder="Search Ingredient"
                (keyup)="oningredientkeypress($event)"
                [(ngModel)]="TBsearchingredient"
              />
              <div
                class="autocom-box"
                [style.display]="
                  lengthofingredientSearchList > 0 ? 'block' : 'none'
                "
              >
                <li *ngFor="let item of ingredientSearchList">
                  {{ item.ingredientName }}
                  <span
                    (click)="addingredientintosearch(item.ingredientName)"
                    style="
                      background-color: grey;
                      border-radius: 10px;
                      padding: 5px 10px;
                      color: white;
                    "
                    >add +
                  </span>
                </li>
              </div>
              <div class="icon">
                <i class="bi bi-search"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-right" (click)="showFilterMobile = !showFilterMobile">
      <i class="bi bi-funnel filtericon"></i>
    </div>
  </div>
</div>
