.type {
  width: 460px;
  animation: typing 6s steps(22), blink 0.65s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 24px;
  animation-iteration-count: infinite;
  text-align: center;
  left: 38%;
  position: absolute;
  margin-top: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .type {
    left: 5% !important;
    font-size: 20px !important;
  }
}
