<div style="height: 8rem">
  <!-- <img
    src="assets/img/home-page-img.jpg"
    class="img-fluid"
    alt="Responsive image"
    style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: none;
      opacity: 1;
      will-change: transform, opacity;
      border-radius: inherit;
      filter: unset;
      transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
      opacity: 0.35;
    "
  /> -->
</div>

<div
  class="content-wrapper"
  style="position: absolute; top: 14%; width: 100%; text-align: center"
>
  <!-- <span style="font-size: 52px; display: block; color: whitesmoke"
    >Davaras</span  > -->
  <h1 style="color: coral;padding: 5px;">anything and everything about food</h1>
  <div style="" class="type">
    <span>| Discover | Network | Buy | Learn | Hire |</span>
  </div>
</div>

<div class="container">
  <div style="padding-left: 20px; padding-right: 20px">
    <div style="margin-top: 60px">
      <app-section-d></app-section-d>
    </div>

    <div style="margin-top: 90px">
      <app-section-a></app-section-a>
    </div>
    <div style="margin-top: 90px">
      <app-section-b></app-section-b>
    </div>
    <div style="margin-top: 90px">
      <app-blog-section></app-blog-section>
    </div>

    <!-- <div style="margin-top: 90px">
      <app-section-c></app-section-c>
    </div> -->
  </div>
</div>
<app-footer-section></app-footer-section>
