<p>Hello CookHat</p>
<div style="height: 35rem; background-color: black">
  <img
    src="../../../assets/img/home-page-img.jpg"
    class="img-fluid"
    alt="Responsive image"
    style="
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: none;
      opacity: 1;
      will-change: transform, opacity;
      border-radius: inherit;
      filter: unset;
      transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
      opacity: 0.35;
    "
  />
</div>
<div
  class="content-wrapper"
  style="position: absolute; bottom: 65%; width: 100%; text-align: center"
>
  <span style="font-size: 52px; display: block; color: whitesmoke"
    >Cook Hat</span
  >
  <span style="font-size: 28px; color: whitesmoke"
    >Find the Best Chef's and Buy their best products for you</span
  >
</div>
<div class="container">
  <div style="padding-left: 20px; padding-right: 20px">
    <div style="margin-top: 90px">
      <app-section-a></app-section-a>
    </div>
    <div style="margin-top: 90px">
      <app-section-b></app-section-b>
    </div>
    <div style="margin-top: 90px">
      <app-section-c></app-section-c>
    </div>
    <div style="margin-top: 90px">
      <app-section-d></app-section-d>
    </div>
  </div>
</div>
